<div class="container">
    <div class="card card-primary text-white text-center bg-secondary">
        <div class="card-header"><h3>For Students</h3></div>
        <div class="card-body">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link" data-bs-toggle="pill" href="set-study-mat" role="tab" aria-controls="v-pills-profile" aria-selected="false"><h3>Set Study Materials</h3></a>
              <a class="nav-link" data-bs-toggle="pill" href="#" role="tab" aria-controls="v-pills-messages" aria-selected="false"><h3>Set Home-Work</h3></a>
              <a class="nav-link" data-bs-toggle="pill" href="#" role="tab" aria-controls="v-pills-settings" aria-selected="false"><h3>Check Home-Work</h3></a>
            </div>
        </div>
    </div>
</div>