<div style="text-align:center">
  <h1>
    Routing and Navigation
  </h1>
</div>
<nav>
  <a style="background-color: rgb(222, 182, 132);
  padding: 10px;font-weight: bolder;font-size: x-large;margin: 2px;color: royalblue;" routerLink="/departments" routerLinkActive="active">Departments </a>
  

  <a style="background-color: rgb(222, 182, 132);
  padding: 10px;color: royalblue;font-weight: bolder;font-size: x-large;
  margin: 2px;" routerLink="/employees" routerLinkActive="active">   Employees</a>
</nav>



<router-outlet></router-outlet>
<!--Routed views go here-->