.items li.selected {
    background-color: #CFD8DC;
    color: white;
}
.badge{
    background-color: gray;
} 
.items{
    color: brown; 
    background-color: lightgray;
    pading: 400px;
    font-weight: 1000;
    
}