<div class="container">
  <div class="card-header">
      <div class="card-title bg-light" align="center"><h4>School Manegment</h4></div>
  </div>
  <div class="card-body">
  <div class="row">
    <div class="col-4">
      <div class="card text-center text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">Student Manegment</div>
      <div class="card-body">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" href="student" role="tab" aria-controls="v-pills-profile" aria-selected="false"><b>Student Registration</b></a>
          <a class="nav-link" href="student-list" role="tab" aria-controls="v-pills-messages" aria-selected="false">Student List</a>
          <a class="nav-link" href="#" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
        </div>
      </div>
    </div>
  </div>
    <div class="col-4">
      <div class="card text-white text-center bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Staff Manegment</div>
        <div class="card-body">
          <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" data-bs-toggle="pill" href="#" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
            <a class="nav-link" data-bs-toggle="pill" href="#" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
            <a class="nav-link" data-bs-toggle="pill" href="#" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-white text-center bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">Office Manegment</div>
      <div class="card-body">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" data-bs-toggle="pill" href="#" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
          <a class="nav-link" data-bs-toggle="pill" href="#" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
          <a class="nav-link" data-bs-toggle="pill" href="#" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>



 

